body{
    background-color: #333339;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.sidebar_title{
    color: #FF2C2C;
    text-align: center;
    padding: 15px;
}
.sidebar_container{
    background-color: #000000;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.btn{
    color: #FF6F61;
    background-color: #333333;
    padding: 15px;
    border: none;
    margin: 0px 15px 0px 15px;
    
}
.btn:hover{
    color: #FF6F81;
    background-color: #333343;
}