<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/form.css">
    <title>Document</title>
</head>
<body>
    <form class="form">
      <h2>REGISTRAR EMPLEADO</h2>
      <div class="input_data_container">
        <div class="input_container">
          <label  class="field_name">Nombre</label>
          <input type="text" class="field_data" />
        </div>
        <div class="input_container">
          <label class="field_name">Correo</label>
          <input type="text" class="field_data" />
        </div>
        <div class="input_container">
          <label class="field_name">Apellido</label>
          <input type="text" class="field_data"/>
        </div>
        <div class="input_container">
          <label class="field_name">Teléfono</label>
          <input type="text" class="field_data"/>
        </div>
        <div class="input_container">
          <label class="field_name">CI</label>
          <input type="text" class="field_data" />
        </div>
        <div class="input_container">
          <label class="field_name">Foto de Perfil</label>
          <input type="file" class="field_data" />
        </div>
        <div class="input_container">
          <label class="field_name">Asignar Horario</label>
          <select class="field_data" name="" id="">
            <option value="" class="mebresia1">Mañana</option>
            <option value="" class="mebresia2">Tarde</option>
            <option value="" class="mebresia3">Noche</option>
          </select>
        </div>
        <div class="input_container">
          <label class="field_name"> Tipo de Empleado</label>
          <select class="field_data" name="" id="">
            <option value="" class="mebresia1">Silver</option>
            <option value="" class="mebresia2">Gold</option>
            <option value="" class="mebresia3">Premium</option>
          </select>
          
        </div>
      </div>
      <div class="button_container">
        <button class="btn_form btn_cancel">Cancelar</button>
        <button class="btn_form btn_submit">Añadir</button>
      </div>
    </form>
</body>
</html>