<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar_container">
        <h2 class="sidebar_title" >DETONADOR GYM</h2>
        <button class="btn"><b>Inicio</b></button>
        <button class="btn"><b>Registrar Empleado</b></button>
        <button class="btn"><b>Registrar Cliente</b></button>
        <button class="btn"><b>Ver Lista Empleados</b></button>
        <button class="btn"><b>Ver Lista Clientes</b></button>
        <button class="btn"><b>Informes</b></button>
        <button class="btn"><b>Cerrar Sesión</b></button>
    </div>
  </body>
</html>
